// GillSans.

@font-face {
  font-family: "GillSans";
  font-style: normal;
  font-weight: 300;
  src: local("GillSans"), local("GillSansa"), url("#{$font-path}/gillSans/GillSans.woff") format("woff");
}

// Roboto.

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("#{$font-path}/roboto/Roboto-Light.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("#{$font-path}/roboto/Roboto-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("#{$font-path}/roboto//Roboto-Regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("#{$font-path}/roboto/Roboto-Italic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("#{$font-path}/roboto/Roboto-Medium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("#{$font-path}/roboto/Roboto-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("#{$font-path}/roboto/Roboto-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("#{$font-path}/roboto/Roboto-BoldItalic.woff") format("woff");
}

// Noto Sans Regular, used for 300 (light) and 400 (normal) weights.

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans"), local("NotoSans-Regular"), url("#{$font-path}/noto/NotoSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("#{$font-path}/noto/NotoSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans-Regular"), url("#{$font-path}/noto/NotoSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Sans Italic"), local("NotoSans-Italic"), url("#{$font-path}/noto/NotoSans-Italic.woff") format("woff");
}

// Noto Sans Bold, used for 500 (medium) and 700 (bold) weights.

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("#{$font-path}/noto/NotoSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 500;
  src: local("Noto Sans BoldItalic"), local("NotoSans-BoldItalic"), url("#{$font-path}/noto/NotoSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("#{$font-path}/noto/NotoSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Noto Sans BoldItalic"), local("NotoSans-BoldItalic"), url("#{$font-path}/noto/NotoSans-BoldItalic.woff") format("woff");
}
